In [12]:
%pip install matplotlib seaborn

Requirement already satisfied: matplotlib in c:\programdata\miniconda3\lib\site-packages (3.7.1)
Requirement already satisfied: seaborn in c:\programdata\miniconda3\lib\site-packages (0.12.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\miniconda3\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: packaging>=20.0 in c:\programdata\miniconda3\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\miniconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\programdata\miniconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: importlib-resources>=3.2.0; python_version < "3.10" in c:\programdata\miniconda3\lib\site-packages (from matplotlib) (5.12.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\miniconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\miniconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.20 in c:\programdata\miniconda3\lib\site-packages (from matplotlib) (1.24.2)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\miniconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\miniconda3\lib\site-packages (from matplotlib) (4.39.0)
Requirement already satisfied: pandas>=0.25 in c:\programdata\miniconda3\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in c:\programdata\miniconda3\lib\site-packages (from importlib-resources>=3.2.0; python_version < "3.10"->matplotlib) (3.14.0)
Requirement already satisfied: six>=1.5 in c:\programdata\miniconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\miniconda3\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [20]:
df = pd.read_csv("netflix_titles.csv")

In [21]:
df.head()
#

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [26]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

### zadatak:
- za svaki od stupaca koji imaju prazne vrijednosti ispisati tocnu brojku takvih vrijednosti te koliki je njihov postotak

In [37]:
df.rating.isnull().sum()

7

In [38]:
df.rating.count()

7780

In [45]:
df["show_id"]

0          s1
1          s2
2          s3
3          s4
4          s5
        ...
7782    s7783
7783    s7784
7784    s7785
7785    s7786
7786    s7787
Name: show_id, Length: 7787, dtype: object

In [55]:
def print_empty_columns():
    for column in df.columns:
        null_count = df[column].isnull().sum() / len(df) * 100
        
        if null_count:
            print(f"{column} has {round(null_count, 2)} % of empty values.")
            
print_empty_columns()

director has 30.68 % of empty values.
cast has 9.22 % of empty values.
country has 6.51 % of empty values.
date_added has 0.13 % of empty values.
rating has 0.09 % of empty values.

In [ ]:
### zadatak:
ove prazne vrijednosti zelimo urediti na sljedeci nacin:
    - za director postaviti no data
    - za cast postaviti no data
    - za country postaviti drzavu