In [12]:
import pandas as pd
pd.set_option("display.max_columns", 42)
roller_df = pd.read_csv("rollercoasters.csv")

In [13]:
roller_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1087 entries, 0 to 1086
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   coaster_name                 1087 non-null   object
 1   Length                       953 non-null    object
 2   Speed                        937 non-null    object
 3   Location                     1087 non-null   object
 4   Status                       874 non-null    object
 5   Opening date                 837 non-null    object
 6   Type                         1087 non-null   object
 7   Manufacturer                 1028 non-null   object
 8   Height restriction           831 non-null    object
 9   Model                        744 non-null    object
 10  Height                       965 non-null    object
 11  Inversions                   932 non-null    float64
 12  Lift/launch system           795 non-null    object
 13  Cost                         382 non-null    object
 14  Trains                       718 non-null    object
 15  Park section                 487 non-null    object
 16  Duration                     765 non-null    object
 17  Capacity                     575 non-null    object
 18  G-force                      362 non-null    object
 19  Designer                     578 non-null    object
 20  Max vertical angle           357 non-null    object
 21  Drop                         494 non-null    object
 22  Soft opening date            96 non-null     object
 23  Fast Lane available          69 non-null     object
 24  Replaced                     173 non-null    object
 25  Track layout                 335 non-null    object
 26  Fastrack available           19 non-null     object
 27  Closing date                 236 non-null    object
 28  Opened                       27 non-null     object
 29  Replaced by                  88 non-null     object
 30  Website                      87 non-null     object
 31  Theme                        44 non-null     object
 32  Single rider line available  81 non-null     object
 33  Restraint Style              22 non-null     object
 34  Flash Pass available         46 non-null     object
 35  Acceleration                 60 non-null     object
 36  Restraints                   24 non-null     object
 37  Name                         35 non-null     object
 38  year_introduced              1087 non-null   int64
 39  latitude                     812 non-null    float64
 40  longitude                    812 non-null    float64
 41  Type_Main                    1087 non-null   object
dtypes: float64(3), int64(1), object(38)
memory usage: 356.8+ KB

In [14]:
roller_df.shape

(1087, 42)

In [15]:
rollercoaster.head()

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,Height,Inversions,Lift/launch system,Cost,Trains,Park section,Duration,Capacity,G-force,Designer,Max vertical angle,Drop,Soft opening date,Fast Lane available,Replaced,Track layout,Fastrack available,Closing date,Opened,Replaced by,Website,Theme,Single rider line available,Restraint Style,Flash Pass available,Acceleration,Restraints,Name,year_introduced,latitude,longitude,Type_Main
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,50 ft (15 m),NaN,gravity,NaN,NaN,Coney Island Cyclone Site,1:00,1600 riders per hour,2.9,LaMarcus Adna Thompson,30°,43 ft (13 m),NaN,NaN,NaN,Gravity pulled coaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1884,40.5740,-73.9780,Wood
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,NaN,1.0,NaN,NaN,a single car. Riders are arranged 1 across in ...,NaN,NaN,NaN,12,Lina Beecher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,40.5780,-73.9790,Wood
2,Switchback Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1896,41.5800,-81.5700,Other
3,Loop the Loop (Coney Island),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,NaN,1.0,NaN,NaN,a single car. Riders are arranged 2 across in ...,NaN,NaN,NaN,NaN,Edward A. Green,NaN,NaN,NaN,NaN,Switchback Railway,NaN,NaN,1910,NaN,Giant Racer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1901,40.5745,-73.9780,Steel
4,Loop the Loop (Young's Pier),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Edward A. Green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1901,39.3538,-74.4342,Steel

In [16]:
roller_df["Speed"]

0              6 mph (9.7 km/h)
1                           NaN
2                           NaN
3                           NaN
4                           NaN
                 ...
1082           53 mph (85 km/h)
1083          73 mph (117 km/h)
1084    59.3[1] mph (95.4 km/h)
1085           34 mph (55 km/h)
1086           58 mph (93 km/h)
Name: Speed, Length: 1087, dtype: object

In [18]:
roller_df["Closing date"].unique()

array([nan, '1902', '1910', '1912', '1907', '1930s', '1926', '1936',
       '2005', '1959', '1984', '2002', 'September\xa09,\xa01945', '1967',
       'September\xa016,\xa02007', '1969', '1927', '1982',
       'September\xa021,\xa01938', 'September 2, 1946',
       'November\xa030,\xa01926', '1977', '1934', '1933', 'November 1957',
       '2000', 'September\xa029,\xa01987', 'September\xa027,\xa02009',
       '30\xa0May\xa01972', '2008', '2017', '28 September 2019', '1997',
       '1983', 'October\xa030,\xa02005', 'December\xa09,\xa02007', '1970',
       '1998', 'October\xa01,\xa01978', '1989', '1985', '2006', '1978',
       '1988', '1987', '2010', 'October\xa031,\xa02006',
       'July\xa026,\xa02015', 'April 10, 2003 (original)', '1980',
       'September\xa020,\xa02021', 'September\xa08,\xa02013', '2011',
       '9\xa0November\xa02008', 'October\xa026,\xa02003',
       'August\xa01983', 'August 25, 2019', '17\xa0July\xa02014',
       'May\xa02002', '8\xa0August\xa02003', 'November\xa07,\xa02010',
       'September 30, 2018', 'April\xa02000', '1990s', 'September 2008',
       'September\xa07,\xa02009', 'November\xa05,\xa02001',
       '26\xa0April\xa02004', 'July\xa029,\xa02012',
       'September\xa01,\xa02014', '1 September 2019[1]',
       '7\xa0November\xa02006', 'August\xa09,\xa02015', '2021',
       'October\xa027,\xa02019', '1986', 'June\xa016,\xa02007',
       'November\xa05,\xa02017[1]', 'September\xa03,\xa02012',
       'July\xa018,\xa02010', 'September\xa01,\xa02003',
       'October\xa01986', 'September 29, 2019', 'September\xa05,\xa02011',
       'June\xa019,\xa02009', '2016', '2009', '1991', 'July\xa01998',
       'January\xa02009', 'September\xa07,\xa01992', '2007',
       'September 4, 2000', '2018', 'November\xa01,\xa02015',
       '31 December 2017', 'January\xa014,\xa02013', 'December\xa02019',
       '27\xa0January\xa02001', '2018[1]', 'September\xa06,\xa02004',
       '31\xa0October\xa020042007', 'February 12, 2011 (Barnstormer)',
       'December\xa030,\xa02005', '2003', 'September\xa019,\xa02009',
       '3\xa0November\xa02019Tower of Terror ll)', 'March\xa02,\xa02000',
       'June\xa028,\xa02007', 'September\xa030,\xa02006', 'June\xa02010',
       'August\xa016,\xa02015', 'September 4, 2017', 'September 21, 2019',
       'September\xa02,\xa02019', 'October\xa025,\xa02008',
       'April 26, 2011', 'August 2008', '30\xa0September\xa02006',
       'August\xa021,\xa02005', '2004', 'September 16, 2007',
       'June\xa016,\xa02009', 'May 1, 2011', 'March 15, 2020',
       'October 12, 2010(as Mulholland Madness)', 'October 28, 2007',
       '22 October 2017', 'October\xa029,\xa02012',
       'September\xa06,\xa02021', '2019', 'September 8, 2019',
       'September\xa02,\xa02003', 'October\xa027,\xa02013',
       'January\xa07,\xa02022', 'October 2018', 'December\xa030,\xa02016',
       'October 30, 2005', '31 August 2021', 'July\xa02017[1]',
       'June\xa030,\xa02009', '2012', '4\xa0November\xa02013',
       '19\xa0March\xa02014', 'October\xa025,\xa02005'], dtype=object)

In [19]:
roller_df["Acceleration"].unique()

array([nan, '0 to 55 mph (0 to 89 km/h) in 3 seconds',
       '0 to 87 km/h (0 to 54 mph) in 4 seconds', '4',
       '0 to 54 mph (0 to 87 km/h) in 4 seconds', '5 mrsn',
       '+2.75g (25 m/s)', '0 to 104 mph in 7 seconds',
       '0 to 160.9 km/h (0 to 100 mph) in 7 seconds',
       '0 to 65\xa0mph (105\xa0km/h) in 4 seconds',
       '0 to 70 mph (0 to 113 km/h) in 3.8 seconds',
       '0 to 40 mph (0 to 64 km/h) in 2 seconds', '0 - 60 in 3 seconds',
       '0 to 60 mph (0 to 97 km/h) in 3.5 seconds',
       '0–53 mph in 2.8 seconds',
       '0 to 57 mph (0 to 92 km/h) in 2.8 seconds', '0 to 45 to 70mph',
       '0 − 55.9 mph in 2.8 seconds',
       '0 to 55 mph (0 to 89 km/h) in 4.5 seconds',
       '0 to 180 km/h (0 to 112 mph) in 1.6 seconds',
       '0-80 in 1.8 seconds', '0-60 mph in 4.0 seconds',
       '0 − 82\xa0mph (132\xa0km/h) in 2.3 seconds',
       '0 to 120 mph (0 to 193 km/h) in 4 seconds',
       '"0 to 46.6 mph (0 to 75 km/h) in 3 seconds".',
       '0 to 72 mph (0 to 116 km/h) in 2 seconds',
       '0 to 40 mph (0 to 64 km/h) in 3 seconds',
       '0 to 72 km/h in 2 seconds',
       '0 to 128 mph (0 to 206 km/h) in 3.5 seconds',
       '0 to 98.3 km/h (0 to 61 mph) in 2.5 seconds',
       '0 to 100 km/h (0 to 62 mph) in 2 seconds',
       '0 - 55.9mph in 2.2 seconds',
       '0 to 80 mph (0 to 129 km/h) in 1.9 seconds',
       '6 - 45 mph in 2 seconds', '0-83.9 mph (0-135 km/h) in 3 seconds',
       '0 to 72\xa0km/h in 2 seconds', '0 - 38 mph',
       '0 to 38 mph (0 to 61 km/h) in 3 seconds',
       '0 to 62.1 mph in 2.5 seconds', '0 - 68 mph in 2.2 seconds',
       '0 to 240 km/h (0 to 149 mph) in 4.9 seconds',
       '0 to 50 mph (0 to 80 km/h) in 3 seconds',
       '0 to 90 km/h (0 to 56 mph) in 1.6 seconds',
       '0 to 99.4 mph (0 to 160 km/h) in 2 seconds',
       '0 to 16\xa0mph (26\xa0km/h) in 1.1 secs 0 to 20\xa0mph (32\xa0km/h) in 2 secs',
       '0 to 104.4 km/h (0 to 65 mph) in 1.9 seconds',
       '0–100kph (62.1 mph) in 1.2 seconds',
       '0 to 180 km/h (0 to 112 mph) in 5 seconds',
       '0 to 42 mph (0 to 68 km/h) in 2.5 seconds',
       '0 to 78 (0 to 125 km/h) in 2 seconds',
       '0 to 62.1 mph (0 to 100 km/h) in 2 seconds'], dtype=object)